<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1> ton potin</h1>
    <% gossips.each do |gossip| %>
      <p><%= gossip %></p>
      
      <%end%>
    </form>
    <a href="/gossips/<%=id%>/edit/">editer ce potin</a>
    <a href="/">Retour a l'acceuil<a>
    <form action='/gossips/<%=id%>/' method='POST'>
        <input type='text' name='comment_content'/>
        <input type='submit'/>
    </form>
    <% comments.each do |comm|%>
      <p><%= comm%></p>
      <%end%>
  </body>
</html>